<br/>
<div class="panel-group" id="tableComponent1">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#tableComponent1" href="#tableComponentOne">
            <h3 class="panel-title accordion-toggle">查询</h3>
        </div>
        <div id="tableComponentOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tableComponent1">
            <div class="panel-body">
                <form class="navbar-form row" role="search">
                    <span>{{$ctrl.searchSelectType1.text}}</span>
                    <select style="min-width:180px;" ng-click="look(this)" ng-model="$ctrl.searchSelectType1" class="form-control" value="" ng-options="item as item.text for item in $ctrl.selectType1 track by item.id"><option></option></select>
                    <input style="width:500px;" type="text" class="form-control" name="searchSelectValue1" placeholder="{{$ctrl.searchSelectType1.text}}" ng-model="searchSelectValue1"/>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.search()">查询</button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.clear()">清理</button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.highSearch()">高级查询</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<div class="panel-group" id="tableComponent2">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#tableComponent2" href="#tableComponentTwo">
            <h3 class="panel-title accordion-toggle">{{$ctrl.title}}</h3>
        </div>
        <div id="tableComponentTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tableComponent2">
            <!-- 数据内容加载后会load出页面的内容 -->
            <div class="panel-body" ng-if="$ctrl.loadFlag">
                <div uib-alert dismiss-on-timeout="{{alert.timeout}}" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.add()">增加</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.modify()">修改</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.delete()">删除</button>
                <hr style="border-top:1px solid #e5e5e5"/>
                <div ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-pagination ui-grid-cellnav class="grid"></div>
            </div>

            <!-- loading效果部分，可以替换为别的内容来进行替代 -->
            <div class="panel-body" ng-if="$ctrl.loadFlag == false">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-primary" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%;">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
