<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3 class="modal-title" id="modal-title">客户信息新增</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <form role="form" name="myForm" ng-submit="submitForm(myForm.$valid)" class="form-horizontal" novalidate>
            <div class="col-md-12">

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>客户编号：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="customer_no" class="form-control" placeholder="客户编号" disabled="disabled"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.customer_no.$dirty && myForm.customer_no.$valid"></span>
                    </div>

                    <div class="col-md-2">
                        <small><strong>中文名称：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.NAME_CN.$invalid}">
                        <input type="text" class="form-control" name="NAME_CN" required placeholder="中文名称" ng-model="customer.NAME_CN"
                               uib-tooltip="必输"
                               tooltip-placement="left"
                               tooltip-trigger="'mouseenter'"
                               tooltip-enable="!inputModel"
                        />
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.NAME_CN.$dirty && myForm.NAME_CN.$valid"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>英文名称：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.NAME_EN.$invalid}">
                        <input type="text" class="form-control" name="NAME_EN" placeholder="英文名称" required ng-model="customer.NAME_EN"
                               uib-tooltip="必输"
                               tooltip-placement="left"
                               tooltip-trigger="'mouseenter'"
                               tooltip-enable="!inputModel"
                        />
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.NAME_EN.$dirty && myForm.NAME_EN.$valid"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>法人姓名：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.LEGAL_PERSON.$invalid}">
                        <input type="text" class="form-control" name="LEGAL_PERSON" ng-model="customer.LEGAL_PERSON" placeholder="法人姓名"
                               required
                               uib-tooltip="必输"
                               tooltip-placement="left"
                               tooltip-trigger="'mouseenter'"
                               tooltip-enable="!inputModel"
                        />
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.LEGAL_PERSON.$dirty && myForm.LEGAL_PERSON.$valid"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>税号：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="TAX" placeholder="税号" ng-model="customer.TAX"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.TAX.$dirty && myForm.TAX.$valid"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>企业类型：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.CUSTOMER_TYPE.$invalid}">
                        <ui-select ng-model="customer.CUSTOMER_TYPE" name="CUSTOMER_TYPE" theme="select2" style="min-width: 200px;" title="Choose a person" >
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="cust in $ctrl.CUSTOMER_TYPE | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{cust.text}}</div>
                                <small>
                                    id: {{cust.id}}
                                    text: <span>{{cust.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>营业日期：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" placeholder="yyyy-mm-dd" class="form-control" uib-datepicker-popup name="BUSINESS_DATE" ng-model="customer.BUSINESS_DATE" is-open="popup[0].opened" datepicker-options="dateOptions" close-text="Close" ng-click="open(0)"/>
                        <span class="glyphicon glyphicon-calendar form-control-feedback" style="padding-right:20px"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>信用额度：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="CREDIT_LIMIT" placeholder="信用额度" ng-model="customer.CREDIT_LIMIT"/>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>已用额度：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="CREDIT" placeholder="已用额度" ng-model="customer.CREDIT"/>
                    </div>
                    <div class="col-md-2">
                        <small><strong>发票种类：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="customer.INVOICE_TYPE" name="INVOICE_TYPE" theme="select2" style="min-width:200px" title="Choose a person">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="invoice in $ctrl.INVOICE_TYPE | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{invoice.text}}</div>
                                <small>
                                    id: {{invoice.id}}
                                    text: <span>{{invoice.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>信用额度控制：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" name="IS_CREDIT" placeholder="信用额度" ng-model="customer.IS_CREDIT"/>
                    </div>
                    <div class="col-md-2">
                        <small><strong>往来户：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-click="$ctrl.openModal('CONTACT_CUST')"  ng-model="myForm.CONTACT_CUST.NAME_CN" value="{{myForm.CONTACT_CUST.NAME_CN}}" class="form-control" name="CONTACT_CUST_NAME_CN" placeholder="请选择"/>
                        <span class="glyphicon glyphicon-th-list form-control-feedback" style="padding-right:20px"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>寄售客户：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" name="IS_CONSIGN" placeholder="寄售客户" ng-model="customer.IS_CONSIGN"/>
                    </div>
                    <div class="col-md-2">
                        <small><strong>营业执照：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="BUSINESS_LICENCE" placeholder="营业执照" ng-model="customer.BUSINESS_LICENCE"/>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>经营许可证：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="PERMIT" placeholder="经营许可证" ng-model="customer.PERMIT"/>
                    </div>
                    <div class="col-md-2">
                        <small><strong>停业日期：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" placeholder="yyyy-mm-dd" class="form-control" uib-datepicker-popup name="END_DATE" ng-model="customer.END_DATE" is-open="popup[1].opened" datepicker-options="dateOptions" close-text="Close" ng-click="open(1)"/>
                        <span class="glyphicon glyphicon-calendar form-control-feedback" style="padding-right:20px"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>最近交易日期：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" placeholder="yyyy-mm-dd" class="form-control" uib-datepicker-popup name="RECENCY_DATE" ng-model="customer.RECENCY_DATE" is-open="popup[2].opened" datepicker-options="dateOptions" close-text="Close" ng-click="open(2)"/>
                        <span class="glyphicon glyphicon-calendar form-control-feedback" style="padding-right:20px"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>付款银行：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="BANK" placeholder="付款银行" ng-model="customer.BANK"/>
                        <span class="glyphicon glyphicon-euro form-control-feedback" style="padding-right:20px"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>税种：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="customer.TAX_TYPE" name="TAX_TYPE" theme="select2" style="min-width:200px" title="Choose a person">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="tax in $ctrl.TAX_TYPE | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{tax.text}}</div>
                                <small>
                                    id: {{tax.id}}
                                    text: <span>{{tax.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-2">
                        <small><strong>付款条件：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-click="$ctrl.openModal('PAY_CON_NAME')" ng-model="myForm.PAY_CON_NAME.PAY_CON_NAME" value="{{myForm.PAY_CON_NAME.PAY_CON_NAME}}" class="form-control" name="PAY_CON_NAME" placeholder="请选择"/>
                        <span class="glyphicon glyphicon-th-list form-control-feedback" style="padding-right:20px"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>注册地址：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="ADDRESS" placeholder="注册地址" ng-model="customer.ADDRESS"/>
                        <span class="glyphicon glyphicon-home form-control-feedback" style="padding-right:20px"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>客户重要程度：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="customer.IMPORTANCE_DEGREE" name="IMPORTANCE_DEGREE" theme="select2" style="min-width:200px" title="Choose a person">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="importance in $ctrl.IMPORTANCE_DEGREE | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{importance.text}}</div>
                                <small>
                                    id: {{importance.id}}
                                    text: <span>{{importance.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>发票地址：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-click="$ctrl.openModal('INVOICE_ADDRESS1')" ng-model="myForm.INVOICE_ADDRESS1.ADDRESS1" value="{{myForm.INVOICE_ADDRESS1.ADDRESS1}}" class="form-control" name="INVOICE_ADDRESS1" placeholder="请选择"/>
                        <span class="glyphicon glyphicon-th-list form-control-feedback" style="padding-right:20px"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>客户状态：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="customer.CUSTOMER_STATUS" name="CUSTOMER_STATUS" theme="select2" style="min-width:200px" title="Choose a person">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="customer in $ctrl.CUSTOMER_STATUS | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{customer.text}}</div>
                                <small>
                                    id: {{customer.id}}
                                    text: <span>{{customer.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>行业：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="customer.TRADE" name="TRADE" theme="select2" style="min-width:200px" title="Choose a person">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="trade in $ctrl.TRADE | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{trade.text}}</div>
                                <small>
                                    id: {{trade.id}}
                                    text: <span>{{trade.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-2">
                        <small><strong>送货地址：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-click="$ctrl.openModal('SEND_ADDRESS1')" ng-model="myForm.SEND_ADDRESS1.ADDRESS1" value="{{myForm.SEND_ADDRESS1.ADDRESS1}}" name="SEND_ADDRESS1" placeholder="请选择"/>
                        <span class="glyphicon glyphicon-th-list form-control-feedback" style="padding-right:20px"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>联系人：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.CONTACTS.$invalid}">
                        <input type="text" class="form-control" name="CONTACTS" placeholder="联系人" required ng-model="customer.CONTACTS"
                               uib-tooltip="必输"
                               tooltip-placement="left"
                               tooltip-trigger="'mouseenter'"
                               tooltip-enable="!inputModel"
                        />
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.CONTACTS.$dirty && myForm.CONTACTS.$valid"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>电话座机：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.TEL.$invalid}">
                        <input type="text" class="form-control" name="TEL" placeholder="电话座机" required ng-model="customer.TEL"
                               uib-tooltip="必输"
                               tooltip-placement="left"
                               tooltip-trigger="'mouseenter'"
                               tooltip-enable="!inputModel"
                        />
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.TEL.$dirty && myForm.TEL.$valid"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>手机号码：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.MOBILE.$invalid}">
                        <input type="text" class="form-control" name="MOBILE" placeholder="手机号码" required ng-model="customer.MOBILE"
                               uib-tooltip="必输"
                               tooltip-placement="left"
                               tooltip-trigger="'mouseenter'"
                               tooltip-enable="!inputModel"
                        />
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.MOBILE.$dirty && myForm.MOBILE.$valid"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>销售组织：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.PUR_ORG.$invalid}">
                        <input type="text" ng-click="$ctrl.openModal('PUR_ORG')" ng-model="myForm.PUR_ORG.ORG_NAME" value="{{myForm.PUR_ORG.ORG_NAME}}" class="form-control" name="PUR_ORG" placeholder="请选择"
                               required
                               uib-tooltip="必输"
                               tooltip-placement="left"
                               tooltip-trigger="'mouseenter'"
                               tooltip-enable="!inputModel"
                        />
                        <span class="glyphicon glyphicon-th-list form-control-feedback" style="padding-right:20px"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>销售人员：</strong></small>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error' : myForm.PUR_MAN.$invalid}">
                        <input type="text" ng-click="$ctrl.openModal('PUR_MAN')" ng-model="myForm.PUR_MAN.NAME_CN" value="{{myForm.PUR_MAN.NAME_CN}}" class="form-control" name="PUR_MAN" placeholder="销售人员"
                               required
                               uib-tooltip="必输"
                               tooltip-placement="left"
                               tooltip-trigger="'mouseenter'"
                               tooltip-enable="!inputModel"
                        />
                        <span class="glyphicon glyphicon-th-list form-control-feedback" style="padding-right:20px"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>销售手机号码：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="PUR_MAN_TEL" placeholder="销售手机号码" ng-model="customer.PUR_MAN_TEL"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.PUR_MAN_TEL.$dirty && myForm.PUR_MAN_TEL.$valid"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>地区：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="customer.AREA" name="AREA" theme="select2" style="min-width:200px" title="Choose a person">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="area in $ctrl.AREA | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{area.text}}</div>
                                <small>
                                    id: {{area.id}}
                                    text: <span>{{area.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-2">
                        <small><strong>渠道：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="customer.CHANNEL" name="CHANNEL" theme="select2" style="min-width:200px" title="Choose a person">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="channel in $ctrl.CHANNEL | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{channel.text}}</div>
                                <small>
                                    id: {{channel.id}}
                                    text: <span>{{channel.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.save()">保存</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">取消</button>
</div>