<div class="row aosTopLayout">
    <div class="mesTop_bg">
        <div class="companyLogo">
            <img src="../../../../static/images/manufacturing-execution-system-.png" width="442" height="62" />
        </div>
        <div class="mesTop_userreturn" ng-click="user_return()">
            <img src="../../../../static/images/return.png" height="30" width="30" />
        </div>
        <div class="mesTop_userImage">
            <img src="../../../../static/images/muhmundr-avatar.png" width="60" height="64" />
        </div>
        <div class="mesTop_message">
            <ul>
                <li>您好！产品经理：洛女士<span> &nbsp;[注销]</span></li>
                <li>上一次登录时间：2015-06-04  14:00:03</li>
            </ul>
        </div>
    </div>
</div>