<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3 class="modal-title" id="modal-title">客户信息新增</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <form role="form" name="myForm" ng-submit="submitForm(myForm.$valid)" class="form-horizontal" novalidate>
            <div class="col-md-12">
                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>客户编号：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input ng-required="true" type="text" name="customer_no" class="form-control" placeholder="客户编号" disabled="disabled"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.customer_no.$dirty && myForm.customer_no.$valid"></span>
                    </div>

                    <div class="col-md-2">
                        <small><strong>中文名称：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="NAME_CN" required placeholder="中文名称" ng-model="customer.NAME_CN"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.NAME_CN.$dirty && myForm.NAME_CN.$valid"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>英文名称：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="NAME_EN" placeholder="英文名称" required ng-model="customer.NAME_EN"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.NAME_EN.$dirty && myForm.NAME_EN.$valid"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>法人姓名：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="LEGAL_PERSON" ng-model="customer.LEGAL_PERSON" placeholder="法人姓名" required/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.LEGAL_PERSON.$dirty && myForm.LEGAL_PERSON.$valid"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>税号：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="TAX" placeholder="税号" required ng-model="customer.TAX"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.TAX.$dirty && myForm.TAX.$valid"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>企业类型：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select  ng-model="customer.CUSTOMER_TYPE" theme="select2" style="min-width: 200px;" title="Choose a person">
                            <ui-select-match placeholder="请选择">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="cust in $ctrl.CUSTOMER_TYPE | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{cust.text}}</div>
                                <small>
                                    id: {{cust.id}}
                                    text: <span>{{cust.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>营业日期：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" placeholder="yyyy-mm-dd" class="form-control" uib-datepicker-popup ng-model="customer.BUSINESS_DATE" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open()"/>
                    </div>
                    <div class="col-md-2">
                        <small><strong>信用额度：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="CREDIT_LIMIT" placeholder="信用额度" required ng-model="customer.CREDIT_LIMIT"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.CREDIT_LIMIT.$dirty && myForm.CREDIT_LIMIT.$valid"></span>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>已用额度：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="CREDIT" placeholder="信用额度" required ng-model="customer.CREDIT"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.CREDIT.$dirty && myForm.CREDIT.$valid"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>发票种类：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="customer.INVOICE_TYPE" theme="select2" style="width:180px" title="Choose a person">
                            <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="invoice in $ctrl.INVOICE_TYPE | propsFilter: {id: $select.search, text: $select.search}">
                                <div>{{invoice.text}}</div>
                                <small>
                                    id: {{invoice.id}}
                                    text: <span>{{invoice.text}}</span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2">
                        <small><strong>信用额度控制：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="IS_CREDIT" placeholder="信用额度" required ng-model="customer.IS_CREDIT"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.IS_CREDIT.$dirty && myForm.IS_CREDIT.$valid"></span>
                    </div>
                    <div class="col-md-2">
                        <small><strong>往来户：</strong></small>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="CONTACT_CUST_NAME_CN" placeholder="信用额度" required ng-model="customer.CONTACT_CUST_NAME_CN"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" style="padding-right:20px"
                              ng-show="myForm.CONTACT_CUST_NAME_CN.$dirty && myForm.CONTACT_CUST_NAME_CN.$valid"></span>
                    </div>
                </div>

                <br/>
                <br/>
                <div class="col-md-4">
                    <small><strong>寄售客户：</strong></small><input type="text" class="form-inline" placeholder="寄售客户" />
                </div>
                <div class="col-md-4">
                    <small><strong>营业执照：</strong></small><input type="text" class="form-inline" placeholder="营业执照" />
                </div>
                <div class="col-md-4">
                    <small><strong>经营许可证：</strong></small><input type="text" class="form-inline" placeholder="经营许可证" />
                </div>

                <br/>
                <br/>
                <div class="col-md-4">
                    <small><strong>停业日期：</strong></small><input type="text" class="form-inline" placeholder="yyyy-mm-dd" />
                </div>
                <div class="col-md-4">
                    <small><strong>最近交易日期：</strong></small><input type="text" class="form-inline" placeholder="" />
                </div>
                <div class="col-md-4">
                    <small><strong>付款银行：</strong></small><input type="text" class="form-inline" placeholder="付款银行" />
                </div>
                <br/>
                <br/>
                <div class="col-md-4">
                    <small><strong>税种：</strong></small><input type="text" class="form-inline" placeholder="税种" />
                </div>
                <div class="col-md-4">
                    <small><strong>付款条件：</strong></small><input type="text" class="form-inline" placeholder="付款条件" />
                </div>
                <div class="col-md-4">
                    <small><strong>注册地址：</strong></small><input type="text" class="form-inline" placeholder="注册地址" />
                </div>
                <br/>
                <br/>
                <div class="col-md-4">
                    <small><strong>客户重要程度：</strong></small><input type="text" class="form-inline" placeholder="客户重要程度" />
                </div>
                <div class="col-md-4">
                    <small><strong>发票地址：</strong></small><input type="text" class="form-inline" placeholder="发票地址" />
                </div>
                <div class="col-md-4">
                    <small><strong>客户状态：</strong></small><input type="text" class="form-inline" placeholder="客户状态" />
                </div>
                <br/>
                <br/>
                <div class="col-md-4">
                    <small><strong>行业：</strong></small><input type="text" class="form-inline" placeholder="客户重要程度" />
                </div>
                <div class="col-md-4">
                    <small><strong>送货地址：</strong></small><input type="text" class="form-inline" placeholder="发票地址" />
                </div>
                <div class="col-md-4">
                    <small><strong>联系人：</strong></small><input type="text" class="form-inline" placeholder="客户状态" />
                </div>
                <br/>
                <br/>
                <div class="col-md-4">
                    <small><strong>电话座机：</strong></small><input type="text" class="form-inline" placeholder="客户重要程度" />
                </div>
                <div class="col-md-4">
                    <small><strong>手机号码：</strong></small><input type="text" class="form-inline" placeholder="发票地址" />
                </div>
                <div class="col-md-4">
                    <small><strong>销售组织：</strong></small><input type="text" class="form-inline" placeholder="客户状态" />
                </div>
                <br/>
                <br/>
                <div class="col-md-4">
                    <small><strong>销售人员：</strong></small><input type="text" class="form-inline" placeholder="客户重要程度" />
                </div>
                <div class="col-md-4">
                    <small><strong>销售手机号码：</strong></small><input type="text" class="form-inline" placeholder="发票地址" />
                </div>
                <div class="col-md-4">
                    <small><strong>地区：</strong></small><input type="text" class="form-inline" placeholder="客户状态" />
                </div>
                <br/>
                <br/>
                <div class="col-md-4">
                    <small><strong>渠道：</strong></small><input type="text" class="form-inline" placeholder="客户重要程度" />
                </div>
            </div>
        </form>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.save()">保存</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">取消</button>
</div>